.header {
	font-family: 'Lobster';
	color: #000;
}

h1 a {
	color: #FCA205;
	font-family: 'Lobster';
}

body {
	padding-left: 0;
}

.page_header {
	background-color: #ff9400;
	margin-top: 0;
	margin-left: 0;
	padding: 20px 20px 20px 40px;
	color: #000;
}
.post {
	padding-left: 20px;
}