.header {
	font-family: 'Lobster';
	color: #000;
	padding-top: 10px;
}

h1 a {
	color: #1437AD;
	font-family: 'Lobster';
}

body {
	padding-left: 0;
}

.page_header {
	background-color: #04859D;
	margin-top: 0;
	margin-left: 0; 
	padding: 20px 20px 20px 40px;
	/* margin: auto; */
	color: #000;

}
.post {
	padding-left: 20px;
}