{% extends 'myBlog/base.html' %}

{% block content %}
{% for post in posts %}
	
	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	{% if user.is_authenticated and post.author  ==  user %}
		<a href="{% url 'post_edit' pk=post.pk %}">Edit</a>
	{% endif %}
	{% autoescape off %}
		<p>{{ post.description }}</p>
	{% endautoescape %}
	<p style="font-size: 12px; color: grey;">Опубликовано: {{ post.published_date }} Автор {{ post.author }}<br>
	{% if post.update_date %}
		Последнее обновление {{ post.update_date }}
	{% endif %}
	</p>
{% endfor %}
{% endblock %}
