{% extends 'myBlog/base.html' %}

{% block content %}
{% for post in posts %}
	
	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	{% autoescape off %}
		<p>{{ post.description }}</p>
	{% endautoescape %}
	<p style="font-size: 12px; color: grey;">Опубликовано: {{ post.create_date }} Автор {{ post.author }}<br>
	{% if post.published_date %}
		Последнее обновление {{ post.published_date }}
	{% endif %}
	{% if user.is_authenticated and post.author  ==  user %}
		<a href="{% url 'post_edit' pk=post.pk %}"><img src="media/icons/pencil.svg" alt="" width="12" height="12" title="Редактировать"></a>
		<a href="{% url 'post_delete' pk=post.pk %}"><img src="media/icons/trash.svg" alt="" width="12" height="12" title="Удалить"></a>
	{% endif %}
	
	</p>
{% endfor %}
{% endblock %}